{% extends 'Base.html' %}
<!--(Header-Part)-->
{% block content %}
<center>
    <div style="border-radius:10px;background-color:#e6e4c3;padding:10px;">
        <div  class="main" style="border:0px solid black;border-radius:10px;margin:10px;display:flex;padding:100px;width:min-content;">
            <div style="border:2px solid black;border-radius:200px;height:400px;width:400px;background-color:#fffee8;">
                <img class="profile-img" src="static/20181223_081218.jpg" />
            </div>
            <divstyle="border:0px solid black;border-radius:10px;padding:20px;width:min-content;" align="left">
                <p style="font-size:64px;margin:0px;">Hello</p>
                <h1>A Bit About Me</h1>
                <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a
                    story and let your users know a little more about you.</p>
                <div style="display:flex;">
                    <div class="button" style="background-color:#ff5252;"><a href="{{ url_for('Resume') }}">Resume</a></div>
                    <div class="button" style="background-color:#ffff52;"><a href="{{ url_for('project') }}">Projects</a></div>
                    <div class="button" style="background-color:#5252ff;"><a href="#">Contacts</a></div>
                </div>
            </div>
        </div>
    </div>
</center>
{% endblock %}
<!--(Footer-Part)-->