{% extends 'Base.html' %}
<!--(Header-Part)-->
{% block content %}
<center>
        <div class="page">
            <div class="main">
                <div class="profile-img" style="background-color:#fffee8;">
                    <img class="profile-img" src="static/20181223_081218.jpg" />
                </div>
                <div style="padding:20px;width:min-content;" align="left">
                    <p style="font-size:64px;margin:0px;">Hi There!</p>
                    <h1>A Bit About Me</h1>
                    <p>I am Gaurav Bhardwaj, 21 yo Software Developer currently pursuing my B. Tech. Degree in Computer
                        Science and Engineering from Dr. B. R. Ambedkar National Institute of Technology, Jalandhar.</p>
                    <div style="display:flex;">
                        <a class="button" style="" href="{{ url_for('resume') }}">Resume</a>
                        <a class="button" style="" href="{{ url_for('project') }}">Projects</a>
                        <a class="button" style="" href="{{ url_for('exp') }}">Experience</a>
                    </div>
                </div>
            </div>
        </div>
</center>
{% endblock %}
<!--(Footer-Part)-->