{% extends 'Base.html' %}
<!--(Header-Part)-->
{% block content %}
<center>
    <div class="page">
        <div class="page-style" style="padding:50px;">
            <h1>Projects</h1>
            {% for project in projects %}
                {% if project.no%2 == 1 %}
                    <div class="prj-item">
                        <div class="prj" align="left">
                            <b>Project No. {{ project.no }}:</b> {{ project.name }}
                            <p class="desc">
                                {{ project.desc|safe }}
                            </p>
                        </div>
                        <div class="prj" style="height:300px;width:500px;">
                            {% if project.img %}
                                <img style="" width="{{ project.imgdim[0] }}" height="{{ project.imgdim[1] }}" src="static/{{ project.img }}"/>
                            {% else %}
                                An image
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="prj-item">
                        <div class="prj" style="height:300px;width:500px;">
                            {% if project.img %}
                                <img style="" width="{{ project.imgdim[0] }}" height="{{ project.imgdim[1] }}" src="static/{{ project.img }}"/>
                            {% else %}
                                An image
                            {% endif %}
                        </div>
                        <div class="prj" align="right">
                            <strong>Project No. {{ project.no }}</strong>: {{ project.name }}
                            <p class="desc">
                                {{ project.desc }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</center>
{% endblock %}
<!--(Footer-Part)-->