{% extends 'Base.html' %}
<!--(Header-Part)-->
{% block content %}
<center>
    <div class="page">
        <div class="page-style">
            {% for d in data %}
                <div class="flex-bxs">
                    <div class="heading" align="left">
                        {{ d.name }}
                    </div>
                    {% if d.name == 'Skills' %}
                        <div class="flex-bxs" style="flex-wrap: wrap;justify-content: flex-end;align-content:normal;">
                            {% for p in d.points %}
                                <div class="cards" onclick="info_open('{{ p.name }}', '{{ p.status }}')" id="{{ p.name }}">{{ p.name }}</div>
                            {% endfor %}
                        </div>
                    {% elif d.name == 'Education' %}
                    <table>
                        {% for point in d.points %}
                            <tr style="width:300px;" align="left">
                                <td class="td-1">
                                    <p>{{ point.duration }}</p>
                                </td>
                                <td>
                                    <p style="font-size:20px;">{{ point.quali }}</p>
                                    <p>{{ point.name }}</p>
                                    <p style="font-size:12px;">CGPA: {{ point.score }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <div class="white-spaces"></div>
                        <div style="padding:5px;font-size:15px;" align="left">
                            <p>{{ d.about|safe }}</p>
                        </div>
                    {% endif %}
                </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</center>
<script>
    function info_close(name,lvl){
        var id = document.getElementById(name);
        id.setAttribute('onClick',"info_open('"+name+"','"+lvl+"')");
        id.innerHTML = name;
    }
    function info_open(name,lvl){
        var id = document.getElementById(name);
        if( lvl == "Advance")var color='#80ff82';
        else if( lvl == "Intermediate")var color='#e3ff80';
        else var color='#ffdf80';
        id.innerHTML = name+"<div style='background-color:"+color+";border-radius:5px;padding: 2px;font-size: 10px;' align='center'>"+lvl+"</div>";  //"<p style='color:"+color+";'>"+lvl+"</p>";
        id.setAttribute('onClick',"info_close('"+name+"','"+lvl+"')");
    }
</script>
{% endblock %}
<!--(Footer-Part)-->