{% extends 'Base.html' %}
<!--(Header-Part)-->
{% block content %}
<center>
    <div class="page">
        <div class="page-style">
            {% for d in data %}
                <div class="flex-bxs">
                    <div class="heading" align="left">
                        {{ d.name }}
                    </div>
                    {% if d.name == 'Skills' %}
                        <div class="white-spaces"></div>
                        <div class="flex-bxs" style="flex-wrap: wrap;justify-content: flex-end;">
                            {% for p in d.points %}
                            <div class="cards">{{ p }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                    <table>
                        {% for point in d.points %}
                            <tr style="width:300px;" align="left">
                                <td class="td-1">
                                    <p>{{ point.duration }}</p>
                                </td>
                                <td>
                                    <p style="font-size:20px;">{{ point.quali }}</p>
                                    <p>{{ point.name }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</center>
{% endblock %}
<!--(Footer-Part)-->